<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    
    <!--name="" - Assign a name to the connection.-->
    <!--connectionString - Contains commands to connect to server. ServerName, User ID, PW.-->
    <!--We can also use a trusted connection to login instead-->
    <add name="Northwind"
         connectionString="Server=MS-STDN-003\SQL2014; User Id=sa; Password = sqlserver;
         Database=Northwind;"/>
  </connectionStrings>
</configuration>